@model StudentInformation.Models.Student

<h1>Delete Pet</h1>
<p>Are you sure you want to delete the pet <strong>@Model.FullName</strong>?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="StudentID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-controller="Student" class="btn_btn-secondary">Cancel</a>
</form>